/* use element selector to select all p elements for this style. Ei . koska p on valmis tyyli */
p{
    color:greenyellow;
    font-size: 32px
}

/* use class selector to define style for elements */
.mun_keksima{
    background-color: aquamarine;
}

/* . eteen koska itse keksitty tyyli */
.fancy{
    color: red;
    border: 2px;
    background-color: greenyellow;
    border-radius: 8px;
}

/* use id selector to define styles */
#joku_tyyli{
    margin: 100px; // joka suuntaan marginaalia 100px
}