<!doctype html>
<html>
    <head>
        <script src="../lib/jquery-2.1.4.min.js"></script>
        <script>
            $(document).ready(function(){
                
                $("#sendBtn").click(function(){
                    
                    <!-- tehdään lähetettävä json objekti. Myös username -->
                    var data = {
                        user:localStorage['username'],
                        name:$("#name").val(),
                        address:$("#address").val(),
                        age:$("#age").val()
                    }
                    
                    <!-- Ajaxilla Back Endille -->
                    $.ajax({
                        method:'POST',
                        url:'http://localhost:3000/persons',
                        data:data,
                        //dataType:'json' <!-- otettu pois koska odottaa, että (ehkä) response on json-tyyppiä jolloin ei toimi. Kts queries.js exports.saveNewPerson -->
                    }).done(function(data){
                        window.location = "./persons.html";
                    }); <!-- done lisätty koska redirect ei toimi queries.js/exports.saveNewPerson -->
                });
            });
        </script>
    </head>
    <body>
        <h1>Add new contact info</h1>
        <form>
            <input type="text" required placeholder="Your full name" id="name"/>
            <input type="text" required placeholder="Your full address" id="address"/>
            <input type="number" required placeholder="Your age" id="age"/>
            <input id="sendBtn" type="button" value="Send"/>
        </form>
    </body>
</html>