<!doctype html> <!-- tarvitaan selainta varten. HTML 5 määrityksen mukainen -->
<html lang="fi"> <!-- html aloituselementti. lang attribuutti -->
    <head> <!-- sisältää metatietoa: kieli, tyylitiedostot, tietoa hakikoneelle. Ei näy käyttäjälle -->
        <meta charset="utf-8"> <!-- ladataan tyylitiedosto. Meta elementti ei tarvitse päättävää elementtiä, koska sillä ei ole sisältöä -->
        <title>Hello World!</title> <!-- standardin mukaan pakollinen. Esim. firman nimi -->
        <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
        <link href="/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet"/> <!-- sisältää mm. tyylejä, määritetty mm. "table" -->
    </head>
    <body> <!-- kaikki mitä näkyy käyttäjälle. Tänne rakennetaan käyttäliittymä -->
 
        <div> <!-- div toimii wrapperinä. Yleensä yksi sivu määritetään wrapperin sisälle -->
            <nav id="head"> <!-- navigation elementti -->
                <a href="http://www.kaleva.fi">News</a>
                <a href="http://www.iltasanomat.fi">News2</a>
                <a href="addPerson.html">Add Person</a> // avaa toisen sivun
            </nav>
            <section>
                <h1 class="about">About</h1>
                <table class="table">
                    <thead>
                        
                    </thead>
                    <tbody> <!-- tänne taulukon sisältö -->
                        
                    </tbody>
                </table>
            </section>
            <footer data-dummy=""> <!-- oma elementti data-dummy -->
                <p>Copyright by Team Ohjelmistokehitys</p>
            </footer>
        </div>
        
        
        <script src="/lib/jquery-2.1.4.min.js"></script> <!-- ladataan jquery-kirjasto omalta koneelta -->
        <script src="/controllers/scripts.js"></script> <!-- ladataan logiikka bodyn lopussa -->
    </body>
</html> <!-- html lopetuselementti -->
        